---
apiVersion: v1
kind: Service
metadata:
  name: maas-rag-app
  labels:
    app: maas-rag-app
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 5000
    protocol: TCP
    name: http
  selector:
    app: maas-rag-app
